- if user_signed_in?
  #upgradeAccount.reveal-modal{:class => "[expand, xlarge, large, medium, small]"}
    %h2 Upgrade Required
    %p
      Please help us by upgrading and paying for your account. We will give you 5 projects with unlimited error tracking and logging for one yearly fee.
      %br
      %div{align: 'center'}
        %h5 Current annual price
        %h3 $25.99
        %br
        %a.button.round.large.alert{"data-reveal-id" => "chargeCard", :href => "#"} Upgrade
    %a.close-reveal-modal ×

  #chargeCard.reveal-modal{:class => "[expand, xlarge, large, medium, small]"}
    %h2 Upgrade to Vacuum Pro
    %p We're excited to have you begin cleaning up your Javascript messes. Complete the form below to get going.
    .row
      .large-4.columns
        %dl
          %dt Total
          %dd $150.00
      .large-4.columns
        %img{src: 'http://cdn.creditcardimagelogos.com/logos/new/credit_card_logos_31.gif'}
    %p
      %span.payment-errors
      = form_tag billing_index_path, :id => "charge_form", :method => :post, :remote => true do
        = label_tag(:card_number, "Card Number")
        = text_field_tag 'card_number', '', placeholder: 'xxxx-xxxx-xxxx-xxxx'
        .row
          .large-4.columns
            = label_tag(:card_cvc, "CVC")
            = text_field_tag 'card_cvc', nil, :size => 5
          .large-4.columns
            = label_tag(:expiry_month, "Expiration Month")
            = text_field_tag 'expiry_month', nil, :size => 10, placeholder: 'MM'
          .large-4.columns
            = label_tag(:expiry_year, "Expiration Year")
            = text_field_tag 'expiry_year', nil, :size => 10, placeholder: 'YY'

        = hidden_field_tag 'user_id', current_user.id

        = submit_tag "Upgrade", class: "button round success"
    %a.close-reveal-modal ×

  - if current_user.needs_to_pay? && SETTINGS[:show_upgrade_modal]
    :javascript
      $(document).ready(function() {
        $("#upgradeAccount").reveal();
      });