.row
  .five.columns.centered
    %h2 Sign in
    .panel
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        %div
          = f.label :email
          %br
          = f.email_field :email
        %div
          = f.label :password
          %br
          = f.password_field :password
        %div= f.submit "Sign in", :class => 'button'
      = render "devise/shared/links"