- title "Vacuum.io | Sign up"
.row
  .large-7.columns.large-centered
    %h2 Sign up
    .panel
      = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        = devise_error_messages!

        - if SETTINGS[:require_invite_code]
          = label_tag 'Invite Code'
          = text_field_tag 'invite_code'
        
        = f.label :email
        = f.email_field :email
        = f.label :password
        = f.password_field :password
        = f.label :password_confirmation
        = f.password_field :password_confirmation
        %div= f.submit "Sign up", :class => 'button round'
      %p= render "user/shared/links"