%tr
  %td
    %strong= link_to project.name, project_errors_path(project)
  - if project.errors.count == 0
    %td
      %em n/a
  - else
    %td= time_ago_in_words(project.errors.desc(:updated_at).first.updated_at)
  %td= project.errors.unresolved.count
  %td= project.errors.count
  %th
    .small.button.dropdown.round{href:  "#", data: {dropdown: 'config-dropdown'}} Configuration
    %ul#config-dropdown.f-dropdown{data: {dropdown_content: true}}
      %li
        %a{href: project_path(project, anchor: 'setup')} Setup
      %li
        %a{href: project_path(project, anchor: 'notifications')} Notifications
      %li
        %a{href: project_path(project, anchor: 'collaborators')} Collaborators
      %li
        %a{href: project_path(project, anchor: 'settings')} Settings
      %li.divider
      %li
        = link_to project_path(project), :method => :delete, confirm: "Are you sure you want to delete the '#{project.name}' project?" do
          %i.icon-ban-circle
          Delete project