.row
  .large-12.columns
    - if @projects.empty?
      .panel
        %h2= link_to "Create your first project", new_project_path
    - else
      %h2 Your Projects
      %table.table
        %thead
          %tr
            %th Name
            %th Last Error
            %th Unesolved
            %th Total
            %th{width: 150}
          %tbody
            - @projects.each do |project|
              %tr
                %td
                  %strong= link_to project.name, project_errors_path(project)
                - if project.errors.count == 0
                  %td
                    %em n/a
                - else
                  %td= time_ago_in_words(project.errors.desc(:updated_at).first.updated_at)
                %td= project.errors.unresolved.count
                %td= project.errors.count
                %th
                  .small.button.dropdown.round{:href => "#", data: {dropdown: 'config-dropdown'}}
                    Configuration
                  %ul#config-dropdown.f-dropdown{data: {dropdown_content: true}}
                    %li
                      %a{href: project_path(project, anchor: 'setup') } Setup
                    %li
                      %a{href: project_path(project, anchor: 'notifications') } Notifications
                    %li
                      %a{href: project_path(project, anchor: 'collaborators') } Collaborators
                    %li
                      %a{href: project_path(project, anchor: 'settings') } Settings
                    %li.divider
                    %li
                      = link_to project_path(project), :method => :delete, :confirm => "Are you sure you want to delete this project?" do
                        %i.icon-ban-circle
                        Delete project
      %div{:align => 'left'}
        %a.success.button.round{:href => new_project_path}
          %i.foundicon-plus
          Create a project
        = will_paginate(@projects)