.row
  .six.columns.offset-by-three
    %h2 Create a new project
    .panel
      = form_for @project do |f|
        = f.label :name
        = f.text_field :name
        %br
        = f.label :url
        = f.text_field :url
        = f.submit 'Create', :class => 'button'
        = link_to 'Cancel', request.referrer