.row
  .large-6.columns.large-offset-3
    %h2 Create a new project
    .panel
      = form_for @project do |f|
        = f.label :name
        = f.text_field :name
        %br
        = f.label :url
        = f.text_field :url
        = f.submit 'Create', :class => 'button round'
        = link_to 'Cancel', request.referrer