.row
  .large-12.columns
    .panel
      .section-container.tabs{data: {section: true, options: 'deep_linking: true;'}}
        %section.active
          %p.title{data: {section_title: true}}
            %a{href: '#setup'} Setup
          .content{data: {slug: 'setup', section_content: true}}
            %h2 Javascript Installation
            %p
              Add this snippet directly after the
              %code= "<head>"
              tag in your application and before any other javascript code/dependencies are loaded. The code in this script will only ever be instantiated
              on an error. Therefore you are only just loading in the size of the script. When an error is triggered, this code will run.
              %br
              %br
              Never change/edit or try to minify this piece of code. For we use the
              %code _vacuum
              object amongst your application and in our listener.
              %br
              %br
              %textarea{:cols => "50", :rows => "6", :id => 'codebox'}= @project.to_js
            %div{align: 'right'}
              = link_to "I've completed this step", project_errors_path(@project), :class => 'success button round'

        %section
          %p.title{data: {section_title: true}}
            %a{href: '#notifications'} Notifications
          .content{data: {slug: 'notifications', section_content: true}}
            %h2 Error Notifications
            %h6.subheader Sends an email to the right person when a single error occurs.
            %p
              - unless @project.notifications.empty?
                #notification_members
                  %table.table
                    %thead
                      %tr
                        %th Name
                        %th Email
                        %th Options
                      %tbody
                        - @project.notifications.each do |notifier|
                          %tr
                            %td= notifier.name
                            %td= notifier.email
                            %th
                              .small.button.round.dropdown{:href => "#", data: {dropdown: 'config-dropdown'}}
                                Configuration
                              %ul#config-dropdown.f-dropdown{data: {dropdown_content: true}}
                                %li
                                  %a{:href => edit_project_notification_path(@project, notifier)} Edit
                                %li.divider
                                %li
                                  = link_to "Delete", project_notification_path(@project, notifier), :method => :delete, :confirm => "Are you sure?"
            %p
              #notifications_error
              %div{:align => 'left'}
                %a.success.button.round{"data-reveal-id" => "newNotifier"}
                  %i.foundicon-plus
                  New Contact

        %section
          %p.title{data: {section_title: true}}
            %a{href: '#collaborators'} Collaborators
          .content{data: {slug: 'collaborators', section_content: true}}
            %h2 Collaborators
            %h6.subheader Gives another Vacuum user read access to your project.
            %p
              - unless @project.collaborators.empty?
                #collaborator_members
                  %table.table
                    %thead
                      %tr
                        %th Email
                        %th Options
                      %tbody
                        - @project.collaborators.each do |collaborator|
                          %tr
                            %td= collaborator.email
                            %th
                              .small.button.round.dropdown{:href => "#", data: {dropdown: 'config-dropdown'}}
                                Configuration
                              %ul#config-dropdown.f-dropdown{data: {dropdown_content: true}}
                                %li
                                  %a{:href => edit_project_collaborator_path(@project, collaborator)} Edit
                                %li.divider
                                %li
                                  = link_to "Delete", project_collaborator_path(@project, collaborator), :method => :delete, :confirm => "Are you sure?"
            %p
              #notifications_error
              %div{:align => 'left'}
                %a.success.button.round{"data-reveal-id" => "newCollaborator"}
                  %i.foundicon-plus
                  New Collaborator

        %section
          %p.title{data: {section_title: true}}
            %a{href: '#settings'} Settings
          .content{data: {slug: 'settings', section_content: true}}
            .row
              .large-5.columns
                %h2= "Edit #{@project.name}"
                = form_for @project do |f|
                  = f.label :name
                  = f.text_field :name
                  %br
                  = f.label :url
                  = f.text_field :url
                  = f.submit 'Update', :class => 'button round success'
                  = link_to 'Cancel', request.referrer
              .large-6.columns
                %h2 API Key
                %p= @project.api_key

                %h2 API Identifier
                %p= @project.identifier
                
                %p
                  = link_to project_path(@project), :method => :delete, confirm: "Are you sure you want to delete the '#{@project.name}' project?" do
                    %i.icon-ban-circle
                    Delete project

    %a.button.round.small{href: project_errors_path(@project)} < Back to logs

- content_for :modals do
  #newNotifier.reveal-modal
    %h5 Add a new person to be notified on error
    #notifications_new
      - @notification = @project.notifications.build
      = form_for @notification, :url => project_notifications_path(@project.id), :html => { :id => "notifications_form" } do |f|
        = f.label :name
        = f.text_field :name
        #notifications_name_error
        %br
        = f.label :email
        = f.text_field :email
        #notifications_email_error
        = hidden_field_tag 'notification_project_id', @project.id
        = f.submit 'Create', :class => 'button round success'
        %a.close-reveal-modal x
  #newCollaborator.reveal-modal
    %h5 Share access to this project
    #notifications_new
      - @collaborator = @project.collaborators.build
      = form_for @collaborator, :url => project_collaborators_path(@project.id), :html => { :id => "collaborators_form" } do |f|
        = f.label :email
        = f.text_field :email
        #collaborators_email_error
        = hidden_field_tag 'collaborator_project_id', @project.id
        = f.submit 'Create', :class => 'button success round'
        %a.close-reveal-modal x
