.row
  .twelve.columns
    %h1= @project.name + " errors"
    - if @project.errors.empty?
      .panel
        %h3 No errors yet. Guess thats a good thing?
      %p 
        Be sure to install this js after the 
        %code= "<head>"
        tag in your application.
        %textarea{rows: 3}
          = @project.to_js
    - else
      .panel        
        %table.twelve
          %thead
            %tr
              %th Error
              %th Last Error
              %th Occurrences
              %th Level
          - @project.errors.each do |error|
            %tbody
              %tr
                %td= error.message
                %td= time_ago_in_words(error.updated_at)
                %td= error.occurrences.count
                %td= error.level
