.row
  .twelve.columns
    .panel
      %dl.tabs
        %dd.active
          %a{:href => "#setup"} Setup
        %dd
          %a{:href => "#notification"} Notification
        %dd
          %a{:href => "#collaborators"} Collaborators
        %dd
          %a{:href => "#settings"} Settings
      %ul.tabs-content
        %li#setupTab.active 
          %h2 Javascript Installation
          %p 
            Add this snippet directly after the 
            %code= "<head>"
            tag in your application.
            %pre
              = @project.to_js
          %div{align: 'right'}
            = link_to "I've completed this step", project_errors_path(@project), :class => 'success button'
           
          %h4 Automatic Logging   
          %p
            Start logging errors automatically, these will trigger the 
            %span{class: 'label'} system
            notification.
            %br
            %pre
              vacuum.window_error = true;
              
          %h4 Manual Logging
          %p
            Start logging errors manually, these will trigger the 
            %span{class: 'alert label'} error
            or
            %span{class: 'warn label'} warn
            notification.
            %br
            %pre
              vacuum.warn('wonky redirect right here, watch the response'); 
            %br
            %pre
              vacuum.error('.ajax.complete never returns');
            
            
        %li#notificationTab 
          %h2 Get Notified
          %p 
            Coming soon...
        %li#collaboratorsTab 
          %h2 Collaborators
          %p
            Coming soon...
        %li#settingsTab
          .row
            .five.columns
              %h2= "Edit #{@project.name}"
              = form_for @project do |f|
                = f.label :name
                = f.text_field :name
                %br
                = f.label :url
                = f.text_field :url
                = f.submit 'Update', :class => 'button'
                = link_to 'Cancel', request.referrer
            .six.columns
              %h2 Configuration
              %p 
                Be sure to install this js after the 
                %code= "<head>"
                tag in your application.
                %textarea{rows: 4}
                  = @project.to_js

              %h2 API Key
              %p= @project.api_key
        
    %a{href: request.referrer, class: 'button'} Back