.row
  .panel
    .eleven.columns
      %h1= "New [#{@error.level}] error for #{@error.project.name}"
      %h4= "Received on #{@error.created_at}"
    .one.columns
      %br
      .panel.radius.right.count
        %h5= @error.occurrences.count
        occurrences
    %hr
    %p
      Vacuum just received an error for your application. Please login to view the data collected.
    %p
      %a.button.protrude.round{href: project_error_path(@error.project, @error)} View Error