.row
  .twelve.columns
    - if @errors.empty?
      .panel
        %h3 No errors yet. Guess thats a good thing?
      %p
        Be sure to install this js after the
        %code= "<head>"
        tag in your application.
        %textarea{rows: 3}
          = @project.to_js
    - else
      %a.settings-link.button.round.small.right{href: "/projects/#{@project.id}/edit#settings"}
        %i.icon-cog
      %h2= "#{@project.name} errors"
      %table.table.twelve
        %thead
          %tr
            %th Level
            %th Agent
            %th Error
            %th Occurrences
            %th Last Error
        %tbody
          - @errors.each do |error|
            %tr
              %td
                - if error.level == 'system' || error.level == 'window'
                  %span{class: 'label radius'}= error.level
                - elsif error.level == 'error'
                  %span{class: 'alert label radius'}= error.level
                - elsif error.level == 'warn'
                  %span{class: 'warn label radius'}= error.level
                - else
                  = error.level
              %td= image_tag "/assets/#{error.occurrences.collect(&:human_agent).uniq.first}.png", width: '16px', height: '16px'
              %td
                %a{href: project_error_path(@project, error)}= error.message
                %br
                %em= error.occurrences.last.try(:file) + ':' + error.occurrences.last.try(:line)  unless error.occurrences.last.try(:line).nil?
              %td= error.occurrences.count
              %td= time_ago_in_words(error.updated_at)

.row
  .six.columns
    %a.button.round.small.left{href: projects_path} Back
  .six.columns
    %div{align: 'right'}
      = will_paginate(@errors)

