.row
  .large-8.columns
    %h2 #{@occurrences.last.error.message}
  .large-2.columns
    =form_for [@project, @error], html: {id: 'resolve-error'} do |error_form|
      %h6.pull-left Status:
      .switch.tiny.round
        =error_form.radio_button :resolved, 'false'
        =error_form.label :resolved_false, onclick: true do
          Unresolved
        =error_form.radio_button :resolved, 'true'
        =error_form.label :resolved_true, onclick: true do
          %i.icon-ok
          Resolved
        %span
  .large-2.columns
    .panel.radius.count
      %h5= @occurrences.count
      occurrences

.row
  .large-12.columns
    %h3 Occurrences
    %table.table
      %thead
        %tr
          %th Agent
          %th File
          %th Parameters
          %th Line #
          %th Seen At
      %tbody
        - @occurrences.each do |occurrence|
          %tr
            %td= image_tag "#{occurrence.human_agent}.png", width: '16px', height: '16px'
            %td= occurrence.try(:file)
            %td
              = occurrence.parameters.nil? || occurrence.parameters.empty? ? '{}' : occurrence.parameters
            %td
              = occurrence.line.nil? || occurrence.line.empty? ? 'n/a' : occurrence.line
            %td= occurrence.created_at
    = will_paginate(@occurrences)

    .row
      %a.alert.button.round.right{href: '#', 'data-reveal-id' => 'stack-trace-modal'} Browser Data
    %a.button.small.round{href: project_errors_path(@project)} < Back

- content_for :modals do
  #stack-trace-modal.reveal-modal
    %h3= "Error #{@error.id}"
    %p
      Level:
      %br
      - if @error.level == 'system' || @error.level == 'window'
        %span{class: 'label'}= @error.level
      - elsif @error.level == 'error'
        %span{class: 'alert label'}= @error.level
      - elsif @error.level == 'warn'
        %span{class: 'warn label'}= @error.level
      - else
        = @error.level

      %br
      User Agent:
      %br
      %code
        = @occurrences.last.user_agent

      %br
      Window Event:
      %br
      %code
        = @occurrences.last.window_event

      %br
      IP Address:
      %br
      %code
        = @occurrences.last.remote_addr

      %br
      Cookie Enabled:
      %br
      %code
        = @occurrences.last.cookie_enabled

      %br
      Protocol:
      %br
      %code
        = @occurrences.last.protocol

      %br
      Platform:
      %br
      %code
        = @occurrences.last.platform

      %br
      Product:
      %br
      %code
        = @occurrences.last.product

      %br
      Language:
      %br
      %code
        = @occurrences.last.language

      %br
      Browser Time:
      %br
      %code
        = @occurrences.last.browser_time

      %br
      Stack trace:
      %br
      %code
        = @occurrences.last.stack_trace
    %a.close-reveal-modal ×