.row
  .twelve.columns
    %h3 #{@occurrences.count} occurrences of "#{@occurrences.first.error.message}"
    %p
      %table.table.twelve
        %thead
          %tr
            %th Agent
            %th URL
            %th Parameters
            %th Line #
            %th Seen At
        %tbody
          - @occurrences.each do |occurrence|
            %tr
              %td= image_tag "/assets/#{occurrence.human_agent}.png", width: '16px', height: '16px'
              %td= occurrence.parent_url
              %td= occurrence.parameters
              %td= occurrence.line
              %td= occurrence.created_at

    %a.button.round{href: project_errors_path(@project)} Back