.row
  .twelve.columns
    .panel
      %h3
        = @occurrences.count
        occurrences
      %p
        %table.twelve
          %thead
            %tr
              %th Agent
              %th Last Error
              %th Seen At
          - @occurrences.each do |occurrence|
            %tbody
              %tr
                %td= image_tag "/assets/#{occurrence.human_agent}.png", width: '16px', height: '16px'
                %td= occurrence.error.message
                %td= occurrence.created_at
        %div{align: 'right'}
          %a{href: '#', class: 'alert button', 'data-reveal-id' => 'stack-trace-modal'} Stack Trace
          
        = will_paginate(@occurrences)
    %a{href: project_errors_path(@project), class: 'button'} Back
    
    
    #stack-trace-modal.reveal-modal{:class => "[expand, xlarge, large, medium, small]"}
      %h3= "Error #{@error.id}"
      - if @error.level == 'system' || @error.level == 'window'
        %span{class: 'label'}= @error.level
      - elsif @error.level == 'error'
        %span{class: 'alert label'}= @error.level
      - elsif @error.level == 'warn'
        %span{class: 'warn label'}= @error.level
      - else
        = @error.level
      %p
        Stack trace:
        %code
          = @occurrences.first.stack_trace
      %a.close-reveal-modal ×