!!!
%html
  = render partial: 'layouts/header/head'
  %body
    - if content_for?(:modals)
      .row#modals
        = yield(:modals)
    #wrap
      #main
        = render partial: 'layouts/header/header'
        = render partial: 'layouts/header/flash'
        = yield
        = render partial: 'layouts/includes/modal_pay'
    = render partial: 'layouts/footer/navigation'