!!!
%html
  %head
    %title Vacuum
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    / Header, contains the navigation logged in/logged out links
    = render partial: 'layouts/header/navigation'
    
    / Css and styling for flash messages
    .row
      .twelve.columns
        = display_flash_messages
    
    / Yield out main resourced content
    = yield