!!!
%html
  = render partial: 'layouts/header/head'
  %body
    .row#modals
      = render partial: 'layouts/includes/payment_modal'
      - if content_for?(:modals)
        = yield(:modals)
    #wrap
      #main
        = render partial: 'layouts/header/header'
        = render partial: 'layouts/header/flash'
        = yield
    = render partial: 'layouts/footer/navigation'