!!!
%html
  = render partial: 'layouts/header/head'
  %body#landing
    %header
      .row
        .large-12.columns
          %nav.top-bar
            = render partial: 'layouts/header/navigation'

    = render partial: 'layouts/header/flash'

    = yield

    = render partial: 'layouts/footer/navigation'