!!!
%html
  = render partial: 'layouts/header/head'
  %body#landing
    / = render partial: 'layouts/header/stripes'
    %header
      .row
        .large-9.columns.large-offset-3
          = render partial: 'layouts/header/navigation'

    = render partial: 'layouts/header/flash'

    = yield

    = render partial: 'layouts/footer/navigation'